---
# layout: vertical
permalink: templates/ADS
published: true
title: Templates Arte del Sueño
---

<h1>Templates voor belangrijke documenten</h1>

<p>Hoewel alle templates voorzien zijn in de sectie <a href="../deliverables/">deliverables</a>, volgen hier toch nog enkele nota's bij het gebruik ervan.</p>
<p>Voor het logopack van Arte del Sueño kan je ook op de deliverables pagina terecht.</p>
<a href="../deliverables/"> <button>Ga naar de deliverables</button></a>

<div class="row"> 


    <div class="col-12">
        <h3>Briefpapier</h3>
        <div class="firstcontentbox">   
                <p>
            Het briefpapier werd opgemaakt op A4-formaat. De template is een Word-sjabloon.
            <br>Dit document wordt niet gebruikt om <a href="">vergaderverslagen</a> op te stellen, maar gebruikt dezelfde marges.
            <br>De marges voor de eerste bladzijde wijken af van die van de volgende bladzijden van het document.
            </p>
            <div class="row">
               
                 <div class="col-6 "><ul>
                    <li>Hoogte kop 60mm</li>
                    <li>Marge onder kop 20mm</li>
                    <li>Zijwit 20mm</li>
                    <li>Staartwit 25mm</li>
                    <li>Staartwit 25mm</li>
    
                </ul>
            </div>
                <div class="col-6 "><ul>
                    <li>Kopwit 30mm</li>
                    <li>Zijwit 20mm</li>
                    <li>Staartwit 25mm</li>
                    <li>Staartwit 25mm</li>
    
                </ul>
            </div>
                
               
            </div>
            
                    <div class="row">
                        <div class="col-12 col-sm-6"><img src="/pages/templates/img/ADS/brief.png" class="img-fluid "></div>
                        <div class="ccol-12 col-sm-6"><img src="/pages/templates/img/ADS/brief2.png" class="img-fluid "></div>
                        
                       
                    </div>
                    
        </div>
        <h3>Vergaderverslagen</h3>
        <div class="firstcontentbox">   
                <p>
                        Net zoals het briefpapier, is het vergaderverslag is een Word-sjabloon.
                        <br>Dit document wordt niet gebruikt om <a href="">brieven</a> op te stellen, maar gebruikt dezelfde marges.
                        <br>De marges voor de eerste bladzijde wijken af van die van de volgende bladzijden van het document.
                        </p>
            <div class="row">
               
                 <div class="col-6 "><ul>
                    <li>Hoogte kop 60mm</li>
                    <li>Marge onder kop 20mm</li>
                    <li>Zijwit 20mm</li>
                    <li>Staartwit 25mm</li>
                    <li>Staartwit 25mm</li>
    
                </ul>
            </div>
                <div class="col-6 "><ul>
                    <li>Kopwit 40mm</li>
                    <li>Zijwit 20mm</li>
                    <li>Staartwit 25mm</li>
                    <li>Staartwit 25mm</li>
    
                </ul>
            </div>
                
               
            </div>
            
                    <div class="row">
                        <div class="col-12 col-sm-6"><img src="/pages/templates/img/ADS/vergaderverslag.png" class="img-fluid "></div>
                        <div class="col-12 col-sm-6"><img src="/pages/templates/img/ADS/vergaderverslag2.png" class="img-fluid "></div>
                        
                       
                    </div>
        </div>
         
    </div>

    <div class="col-12">
        <h3> C5 enveloppe </h3>
        <div class="contentbox">   
          <p> 
            De enveloppe C5 met venster wijkt enigszins af van de meest gebruikte verhoudingen.
            Er wordt in het ontwerp rekening gehouden met de positie van het venster, en dat wordt gebruikt voor de uitlijning van het logo en het bepalen van de marges.</p>
            <ul>
                <li>De marge, rondom het document, bedraagt 10mm.</li>
                <li>Het logo bevindt zich in de linkerbovenhoek</li>
                <li>Het logo meet 30mm in de hoogte</li>
            </ul>
            
            <p>Met deze instellingen, lijnt de onderkant van het logo perfect uit op de bovenkant van het venster.</p>
            <div class="row">
                    <div class="col-12 col-sm-6"><img src="/pages/templates/img/ADS/enveloppe_voor.png" class="img-fluid "></div>
                    <div class="col-12 col-sm-6 "><img src="/pages/templates/img/ADS/enveloppe_achter.png" class="img-fluid "></div>
                    
                   
                </div>
        
        </div>
    </div>

    <div class="col-12">
            <h3> Businesscard </h3>
            <div class="contentbox">   
             
                <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <p> 
                                De businesscards zijn beschikbaar in de 3 basiskleuren: rood, blauw en geel.
                                Ze bevatten net als alle documenten dezelfde titelhiërarchie, waarbij naam en functie de belangrijkste titel innemen.
                            </p> 
                            <p>
                                De opmaak van de businesscards gebeurde op het standaardformaat, nl. 55mm x 85mm.
                                <br> Het document werd ingedeeld m.b.v. guides. 10 horizontale en 10 verticale, zonder tussenruimte.
                                Er wordt een marge van 5mm toegepast rondom het volledige document.
                    
                            </p>

                            <p>
                                Op de voorzijde is het logo is 4 vakjes breed en bevindt zich in de linker bovenhoek, het kleurvlak met daarop de coördinaten is 6 vakjes hoog en neemt de volledige breedte in.
                                Op de achterzijde staat het logo gecentreerd en meet het 6 vakjes hoog.
                            </p>
                                
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3"><img src="/pages/templates/img/ADS/businesscard.png" class="img-fluid "></div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3"><img src="/pages/templates/img/ADS/businesscard2.png" class="img-fluid "></div>
                        
                       
                    </div>
            
            </div>
        </div>

        <div class="col-12">
            <h3> Mail signature </h3>
            <div class="contentbox">   
             
                <div class="row">
                        <div class="col-12 col-sm-12 ">
                            <p> 
                                De mailsignature  is een digitale replica kopie van de businesscards.
                                Ze zijn ook in de 3 basiskleuren te verkrijgen.
                                het grote verschil met de businesscards is dat ze volledig gecodeerd zijn en interactiviteit bevatten.
                            </p> 
                            <p>
                                Zo zijn email adres, postadres,... allemaal links naar bv. Google Maps of de website van Arte del Sueño.
                                De code kan eenvoudig gekopieerd worden door de signature te selecteren en te plakken in de je mailhandtekening.
                               
                            </p>
                            <p>
                                 <strong>Probeer het gerust eens uit!</strong>
                            </p>
                                
                        </div>
                        <div class="col-12">
                            <style type="text/css">
                            a.link{margin:0;padding:0;border:none;text-decoration:none;}
                          </style>
                           
                          <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                          <meta name="format-detection" content="telephone=no">
                           
                          <br />
                          <br />
                           
                          <table id="main-table" cellspacing='0' cellpadding='0' border-spacing='0' style="margin-left: 20px; padding:0; max-width:220px; border-style: solid; border-color: #e50F45; border-width: 3px">
                            <tr>
                              
                              <td width="100" style=" width:auto; ">
                                <img moz-do-not-send="true" src="http://www.artedelsueno.be/logo.jpg" alt="Logo Arte del Sueño" style="width:auto; height:100px; margin:15px 0 0 15px;">
                              </td>
                              </tr>
                          
                              
                              <tr width="100" style="width:20px; min-width:20px; max-width:20px; margin:0; padding:0;"><td>&nbsp;</td></tr>
                          
                                
                              <tr style="margin:0;padding:0; background-color: #e50F45;">
                                  
                                <td>
                                  <table id="personal-info" cellspacing='0' cellpadding='0' border-spacing='0' style="padding:0;margin:20px 0 10px 15px;font-family:'Roboto',sans-serif;font-size:13px;line-height:!13px;color:#fff;border-collapse:collapse;-webkit-text-size-adjust:none;table-layout:fixed;width:100%">
                                    
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'roboto',sans-serif;white-space:nowrap; font-size:17px;line-height:17px;">
                                      <strong>
                                        <a href="mailto:info@artedelsueno.be " style="border:none;text-decoration:none; background-color:#fff; ">
                                          <span style="color:#e50F45;" >&nbsp;Voornaam Naam&nbsp;</span>
                                        </a>
                                      </strong>  
                                         
                                    </td>
                                  </tr>
                                    
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0px;padding:0;font-family:'roboto',sans-serif;white-space:nowrap; font-size:17px;line-height:17px;">
                                        <strong>
                                            <a href="http://www.artedelsueno.be" target="blank" style="border:none;text-decoration:none; background-color:#fff; ">
                                              <span style="color:#e50F45">&nbsp;Functie&nbsp;</span>
                                            </a>
                                        </strong>
                                    </td>
                                  </tr>
                           
                                  <tr>
                                    <td height='8' style="height:20px;font-size:16px;mso-line-height-rule:exactly;line-height:5px;">&nbsp;</td>
                                  </tr>
                                  <tr>
                                      <td>  <span style="color:#fff; font-family:'roboto',sans-serif;white-space:nowrap; font-size:17px;line-height:17px;"><strong>Arte del Sueño vzw</strong></span>   </td>
                                  </tr>
                                      
                                  <tr>
                                    <td height='8' style="height:20px;font-size:16px;mso-line-height-rule:exactly;line-height:5px;">&nbsp;</td>
                                  </tr>
                                  
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'Roboto',sans-serif;white-space:nowrap;">
                                      <!--<strong><span style="color:#fff">M:</span>&nbsp;&nbsp;</strong>-->
                                        <span style="color:#fff">+32 400 00 00 00‬</span>
                                    </td>
                                  </tr>
                          
                                
                          
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'Roboto',sans-serif;white-space:nowrap;">
                                      <!--<strong><span style="color:#fff">E:</span>&nbsp;&nbsp;</strong>-->
                                      <a href="mailto:info@artedelsueno.be" style="border:none;text-decoration:none;color:#b0b0b0;">
                                        <span style="color:#fff">email@artedelsueno.be</span>            
                                      </a>
                                    </td>
                                  </tr>
                          
                                    
                                    
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'Roboto',sans-serif;white-space:nowrap;">
                                    <!-- <strong> <span style="color:#fff">A:</span>&nbsp;&nbsp;</strong>-->
                                      <a href="https://www.google.be/maps/place/Toekomststraat+29,+8530+Harelbeke/@50.8595069,3.3104593,17z/data=!3m1!4b1!4m5!3m4!1s0x47c33b8c9ae7fe29:0xfc371270fbc8d616!8m2!3d50.8595069!4d3.312648" target="_blank" style="border:none;text-decoration:none;color:#fff;">
                                        <span style="color:#fff">Toekomststraat 29</span>            
                                      </a>
                                    </td>
                                  </tr>
                                      
                                  <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'Roboto',sans-serif;white-space:nowrap;">
                                    <!-- <strong> <span style="color:#fff">A:</span>&nbsp;&nbsp;</strong>-->
                                      <a href="https://www.google.be/maps/place/Toekomststraat+29,+8530+Harelbeke/@50.8595069,3.3104593,17z/data=!3m1!4b1!4m5!3m4!1s0x47c33b8c9ae7fe29:0xfc371270fbc8d616!8m2!3d50.8595069!4d3.312648" target="_blank" style="border:none;text-decoration:none;color:#fff;">
                                        <span style="color:#fff">8530 Harelbeke</span>            
                                      </a>
                                    </td>
                                  </tr>
                                    
                                    <tr style="margin:0;padding:0;">
                                    <td style="margin:0;padding:0;font-family:'Roboto',sans-serif;white-space:nowrap;">
                                      
                                       <!-- <strong><span style="color:#fff">W:</span>&nbsp;&nbsp;</strong>-->
                                      <a href="http://www.artedelsueno.be" target="_blank" style="border:none;text-decoration:none;color:#b0b0b0;">
                                        <span style="color:#fff">www.artedelsueno.be</span>            
                                      </a>
                                    </td>
                                  </tr>
                          
                                </table>
                          </td>
                              
                              </tr>
                            <tr>
                          </table>
                          <br/>
                          &nbsp;</div>
                     
                        
                       
                    </div>
            
            </div>
        </div>

        <div class="col-12">
                <h3>Hoodies | Tshirts </h3>
                <div class="contentbox">   
                 
                    <div class="row">
                            <div class="col-12 col-sm-6">
                                <p> 
                                    Op alle bedrukte kledij staat het logo op de rechter borst. Dat is de zijde waar men op kijkt wanneer men de hand schudt.
                                </p> 
                                <p>
                                    Het logo wordt 70mm hoog gedrukt, dit om (bij gebruik van zeefdruk) te vermijden dat de letterogen dichtlopen.
                                    Ook bij transferfolie worden dezelfde afmetingen gehanteerd.
                                    <br>Het logo wordt op alle gekleurde kledij in het wit gedrukt, op witte kledij komt het in het rood te staan.
                        
                                </p>
                                <p>
                                    Hoodies zijn zwart, zo kunnen ze ook op scène gebruikt worden door decormedewerkers.
                                    Tshirts kunnen zwart, wit, rood of blauw zijn.
                                </p>
    

    
                                
                                    
                            </div>
                            <div class="col-12 col-sm-3"><img src="/pages/templates/img/ADS/hoodies.png" class="img-fluid "></div>
                            <div class="col-12 col-sm-3"><img src="/pages/templates/img/ADS/tshirts.png" class="img-fluid "></div>
                            
                           
                        </div>
                
                </div>
            </div>
    

            <div class="col-12">
                    <h3>Stickers</h3>
                    <div class="contentbox">   
                     
                        <div class="row">
                                <div class="col-12 col-sm-6">
                                    <p> 
                                        De sticker wordt vnl gebruikt om op de achterzijde van een wagen te kleven. Er is keuze uit 2 kleuren: Grijs of blauw.
                                        De grijze sticker (metallic) past netjes op het koetswerk van donkerkleurige auto's.
                                        De blauwe sticker past op lichtere koetswerkkleuren.
                                    </p> 
                                    <p>
                                        De sticker wordt op 100mm hoog geproduceerd en wordt volledig uitgeplot. Er wordt dus niet geprint op een witte vinyl.

                                    </p>
                                
        
    
        
                                    
                                        
                                </div>
                                
                                <div class="col-12 col-sm-4"><img src="/pages/templates/img/ADS/sticker.png" class="img-fluid "></div>
                                
                               
                            </div>
                    
                    </div>
                </div>

                <div class="col-12">
                        <h3>Facebook Banner</h3>
                        <div class="contentbox">   
                         
                            <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <p> 
                                           De facebook banner kan zowel videocontent als afbeeldingen bevatten.
                                           Beiden worden opgemaakt op 851px x 315px.
                                        </p> 
                                        <p>
                                            Voor afbeeldingen geldt de standaard dat het logo centraal geplaatst wordt over de volledige hoogte, binnen een marge van 3Opx rondom het document.
                                            Gebruik ook telkens het logokleur met het grootste contrast t.o.v. de ondergrond. Op digitale publicaties zoals de Facebook banner wordt steeds gebruik gemaakt van de transparante PNG versie van het logo.

                                        </p>
                                    
            
        
            
                                        
                                            
                                    </div>
                                    
                                    <div class="col-12 col-sm-6"><img src="/pages/templates/img/ADS/fb_banner.png" class="img-fluid "></div>
                                    
                                   
                                </div>
                        
                        </div>
                    </div>


                    <div class="col-12">
                            <h3>Mailing template</h3>
                            <div class="contentbox">   
                             
                                <div class="row">
                                        <div class="col-12 col-sm-3">
                                            <p> 
                                              Er werd een mailingtemplate opgemaakt voor de digitale nieuwsbrief. Het gebruikte platform hiervoor is Mailchimp.
                                            </p> 
                                            <p>
                                               Omdat Mailchimp een beperkt aantal eigen lettertypes voorgeïnstalleerd heeft, wordt hier Roboto gebruikt i.p.v. ITC Avant Garde Gothic®<div class="col-12">
                       
                    </div>
                                            </p>
                                        
                
            
                
                                            
                                                
                                        </div>
                                        
                                        <div class="col-12 col-sm-9"><img src="/pages/templates/img/ADS/mailcampaign.jpg" class="img-fluid "></div>
                                        
                                       
                                    </div>
                            
                            </div>
                        </div>
            
            </div>
        
    
