---
# layout: vertical
permalink: templates/wiz
published: true
title: Templates The Wiz
---

<h1>Templates voor documenten van de productie</h1>

<p>Enkele toelichtingen bij de deliverables van 'The Wiz'</p>

<div class="row"> 

		<div class="col-12">
				<h3>Logo</h3>
				<div class="firstcontentbox">   
						<p>Het logo van 'The Wiz' bestaat uit een woordmerk opgebouwd uit een gestileerde fantasieletter.
							Het logo wordt steeds vergezeld van de visual die, net als het logo, specifiek voor deze productie ontworpen werd.
						</p>
				 
					
							<div class="row">
								<div class="col-12 col-sm-6"><img src="/1718-3CMO-BaP-HannOtte/pages/templates/img/WIZ/visual_landscape_logo.png" class="img-fluid "></div>
							   
							   
							</div>
							
				</div>
			  
				 
			</div>

    <div class="col-12">
        <h3>Affice</h3>
        <div class="firstcontentbox">   
                <p>De affiche wordt gedrukt op A2-formaat, met 3mm afloop.
					Ze bevat de visuals die opgemaakt werden voor deze productie.
					De sponsorlogo's worden opgevraagd in hun witte variant, zo blijft het beperkte kleurenpalet van de affiche bewaard.
				</p>
         
            
                    <div class="row">
                        <div class="col-12 col-sm-6"><img src="/1718-3CMO-BaP-HannOtte/pages/templates/img/WIZ/affiche.png" class="img-fluid "></div>
                       
                       
                    </div>
                    
        </div>
      
         
    </div>

    

    <div class="col-12">
            <h3>Autostickers</h3>
            <div class="contentbox">   
             
                <div class="row">
                        <div class="col-12 col-sm-6">
                            <p>
								Traditioneel worden voor elke nieuwe productie 120 autostickers geprint.
								De gebruikelijke maat van 900x150mm kan moeilijk gebruikt worden, gezien de hoogte/breedte verhoudig van het logo.
								Daarom wordt geopteerd voor hogere stickers op one-way-vision. Zo kan de bestuurder toch nog door de achterruit kijken.
                            </p> 
                            <p>
							   De sticker is opgemaakt op 750x400mm en bevat afgeronde hoeken.
								Het ontwerp bevat een niet-drukkende snijlijn in een steunkleur voor het plotten.
                    
                            </p>
                                
                        </div>
                       
                        <div class="col-12 col-sm-6"><img src="/1718-3CMO-BaP-HannOtte/pages/templates/img/WIZ/autosticker.png" class="img-fluid "></div>
                        
                       
                    </div>
            
            </div>
        </div>

        <div class="col-12">
                <h3>Hoodies & Tshirts </h3>
                <div class="contentbox">   
                 
                    <div class="row">
                            <div class="col-12 col-sm-6">
                                <p> 
									Ook voor de producties worden hoodies bedrukt.
									Bij deze versie staat de opdruk op de rugzijde van het kledingstuk.
                                </p> 
                                
                                <p>
									Alle hoodies zijn groen, om in dezelfde themakleuren te blijven. 
									De opdruk staat deels wit, in samenspraak met de VZW staat de de URL én stip op de I staan in het geel.
								
                                </p>
    

    
                                
                                    
                            </div>
                            
                            <div class="col-12 col-sm-6"><img src="/1718-3CMO-BaP-HannOtte/pages/templates/img/WIZ/hoodies.png" class="img-fluid "></div>
                            
                           
                        </div>
                
                </div>
            </div>

            </div>
        
    
